.label-Valor > input {
  border-radius: 5px;
  margin-left: 10px;
  padding: 7px;
  width: 115px;
}

.label-descricao > input {
  border-radius: 5px;
  margin-left: 10px;
  padding: 7px;
  width: 115px;
}

.label-Valor > input:focus {
  border-color: rgb(37, 95, 255);
  outline: none;
}

.label-moeda > select {
  border-radius: 5px;
  margin-left: 10px;
  padding: 7px;
  width: 115px;
}

.label-pay > select {
  border-radius: 5px;
  margin-left: 10px;
  padding: 7px;
  width: 115px;
}

.label-category > select {
  border-radius: 5px;
  margin-left: 10px;
  padding: 7px;
  width: 115px;
}

.label-moeda > select:focus {
  border-color: rgb(37, 95, 255);
  outline: none;
}

.label-pay > select:focus {
  border-color: rgb(37, 95, 255);
  outline: none;
}

.label-category > select:focus {
  border-color: rgb(37, 95, 255);
  outline: none;
}

.label-descricao > input:focus {
  border-color: rgb(37, 95, 255);
  outline: none;
}

.btn {
  background-color: dodgerblue;
  border-radius: 5px;
  color: aliceblue;
  padding: 7px;
  width: 200px;
}

.btn:hover {
  background-color: #176edf;
  cursor: pointer;
}

.containner-form {
  align-items: center;
  background-color: black;
  color: aliceblue;
  display: flex;
  height: 80px;
  justify-content: space-around;
}
