* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html , body {
  background: white;
  color: #202022;
  font-size: 100%;
  height: 100vh;
}

* , button , input {
  font: 400 16px Roboto, -apple-system, system-ui, sans-serif;
}
