.containner-header {
  align-items: center;
  display: flex;
  height: 90px;
  justify-content: space-between;
}

.logo {
  height: 40px;
  margin-left: 50px;
  width: 150px;
}

.containner_user-infor {
  align-items: center;
  display: flex;
  font-family: cursive;
  font-size: 20px;
  justify-content: space-around;
  width: 40%;
}

.conteinner-balance {
  display: flex;
}

.BRL {
  margin-left: 5px;
}
