.login-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 0 32px;
}

.main-content {
  border: 1px solid #a0a0ac;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 400px;
  max-width: 368px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-form input {
  background: white;
  border: 1px solid #a0a0ac;
  border-radius: 5px;
  height: 50px;
  margin-top:10px;
  padding: 0 16px;
  width: 100%;
}

.login-form button {
  background: #179c4a;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 50px;
  margin-top: 30px;
  width: 100%;
}

.login-form button:disabled {
  background: #63a17b;
  cursor: not-allowed;
}

.sm-text {
  align-items: center;
  color: #a0a0ac;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin: 32px 0;
}

.sm-text::before {
  content: '';
  flex: 1;
  height: 1px;
  background: #a0a0ac;
  margin-right: 10px;
}
