.login-field {
  margin: 50px auto;
  width: 560px;
}

.login-field form {
  background: #e7e5e5;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 0;
  padding: 50px;
}

.login-field input {
  margin-bottom: 15px;
  width: 100%;
}

.login-field button {
  margin-bottom: 15px;
  margin-top: 15px;
  width: 100%;
}

.login-field h2 {
  margin: 0 0 15px;
  text-align: center;
}

.form-control , 
.btn {
  border-radius: 5px;
  min-height: 38px;
}

.form-control {
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.428;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  width: 100%;
}

.btn {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.428;
  margin-bottom: 0;
  min-height: 38px;
  padding: 6px 12px;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.checkbox-inline {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 0;
  padding-left: 20px;
  position: relative;
  vertical-align: middle;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: white;
}

label {
  max-width: 100%;
}

.pull-left {
  display: block;
  float: left;
  text-orientation: sideways;
  writing-mode: horizontal-tb;
}

.pull-left-item {
  display: flex;
  text-orientation: upright;
}

.pull-right {
  display: inline;
  float: right;
}
