.login__container {
  align-items: center;
  background-color: rgb(235, 235, 235);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.6rem;
  height: 25rem;
  justify-content: center;
  width: 400px;
}

.btn__login {
  background-color: rgb(20, 20, 20);
  border: none;
  border-radius: 4px;
  color: white;
  height: 2.4em;
  width: 20rem;
}

.btn__login:hover {
  opacity: 0.9;
}

.btn__login:disabled {
  opacity: 0.2;
}

.login__container input {
  border: none;
  border-radius: 4px;
  color: rgb(59, 59, 59);
  font-weight: 300;
  height: 2.4em;
  letter-spacing: 1px;
  outline: none;
  padding-left: 0.6rem;
  width: 80%;
}
