main {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login__container {
  align-items: center;
  background-image: url('https://image.freepik.com/fotos-gratis/close-up-em-objetos-de-educacao-e-economia_23-2149113542.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  box-shadow: rgba(17, 12, 46, 0.2) 0 40px 150px 0;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  gap: 7rem;
  height: 30rem;
  justify-content: center;
  width: 450px;
}

.login__input {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  justify-content: center;
  width: 60%;
}

.login__input input {
  border: none;
  border-radius: 4px;
  color: rgb(59, 59, 59);
  font-weight: 300;
  height: 2.4em;
  letter-spacing: 1px;
  outline: none;
  padding-left: 0.6rem;
  width: 100%;
}

.btn__login {
  background-color: rgba(20, 20, 20, 0.8);
  border: none;
  border-radius: 4px;
  color: white;
  height: 2.4em;
  width: 17rem;
}

.btn__login:hover {
  opacity: 0.9;
}

.btn__login:disabled {
  opacity: 0.2;
}

