.form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-height: 100vh;  
}

.botao-submit {
  display: flex;
  width: 100%;
}

button {
  flex-grow: 0;
}

.input-password , .input-email {
  display: flex;
  width: 100%;
}

#input-password , #input-email {
  flex-grow: 0,5;
}

img {
  height: 200px;
  width: 300px;
}

.div-separa {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
