.ctn-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-input {
  background: #ecf0f1;
  padding: 10px;
  border: none;
  height: 40px;
  border-radius: 3px;
  width: 350px;
  margin: 5px;
}

.login-button {
  padding: 10px;
  border: none;
  height: 50px;
  width: 360px;
  border-radius: 8px;
  color: rgb(24, 153, 228);
  cursor: pointer;
  font-weight: 200;
  margin: 10px;
}

.login-logo {
  width: 400px;
}
