form {
  align-items: center;
  background-color: rgb(41, 41, 41);
  border-bottom: 1px solid rgb(224, 224, 224);
  color: rgb(240, 240, 240);
  display: flex;
  height: 5rem;
  justify-content: space-between;
  padding-inline: 20px;
  position: sticky;
  top: 0;
  width: 100%;
}

form input, select {
  border: none;
  border-radius: 4px;
  color: rgb(59, 59, 59);
  font-weight: 300;
  height: 2.4em;
  letter-spacing: 1px;
  outline: none;
  padding-left: 0.6rem;
  width: 15rem;
}
