header {
  align-items: center;
  background-color: rgba(106, 25, 255);
  border-bottom: 1px solid rgb(48, 184, 132);
  color: rgb(240, 240, 240);
  display: flex;
  height: 4rem;
  justify-content: space-between;
  padding-inline: 20px;
  position: sticky;
  top: 0;
  width: 100%;
}

.logo {
  color: rgb(48, 184, 132);
  font-size: 18px;
  letter-spacing: -1.2px;
  text-decoration: none;
}

.logo:hover {
  opacity: 0.8;
}

.header__info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__info p {
  font-weight: 300;
}

.expenses__info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.expenses__info h5 {
  padding-inline: 10px;
}

.expenses__info p {
  font-size: 14px;
}
