* {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  /* background-color: #141414; */
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 20px 30px;
  width: 25%;
  height: 50vh;
}

.header {
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.infos-container {
  display: flex;
  width: 45%;
  justify-content: space-around;
}
.expenses-form {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #202020;
  justify-content: space-between;
}

.expenses-form label:nth-of-type(1) {
  width: 10%;
}

.expenses-form label:nth-of-type(3) {
  width: 30%;
}

.expenses-form label:nth-of-type(5) {
  width: 17%;
}

.expenses-header {
  background-color: #404040;
  padding: 10px 20px;
}

.expenses-header .col {
  color: white;
}

.expense-items {
  background-color: white;
  padding: 10px 20px;
}

.expense-items .row {
  border: 1px solid lightgray;
  padding: 10px 0;
}

.row .col {
  display: flex;
  justify-content: center;
  flex-basis: 9%;
  font-size: 12px;
}
