header {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 1rem 1rem 0;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex: 0 1 100%;
}

.user-info {
  flex: 0 1 30%;
}

.login-form {
  max-width: 330px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 15px;
}

.login-form .loginBtn {
  margin-top: 10px;
  width: 100%;
}

.expenses-form {
  background-color: #f1f1f1;
}

.expensesInput {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
}

.expensesInput input , select {
  max-width: 530px;
}

.expensesInput button {
  max-height: 30px;
}

.expenseBtn {
  margin-right: 10px;
}
