body {
  background-color: #e9e6e6;
  font-family: fantasy;
  font-size: 25px;
  text-align: center;
}

table {
  background-color: rgb(39, 27, 202);
  border-collapse: collapse;
  width: 100%;
}

h1 , h2 {
  color: #242020;
  font-family: fantasy;
  font-size: 50px;
}
